<footer>
    <div class="footer-container">

        <!-- cote gauche de mon footer -->
        <div class="footer-left">
            <div class="title">
                <h3>Suivez nous !</h3>
            </div>
            <div class="icon-reseau">
                <a href="#"><i class="fa-brands fa-facebook-f fcb" ></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div class="container-name">
                <div class="name-left">
                    <ul>
                        <li><a  routerLink="/categorie-accueil">Accueil</a></li>
                        <li><a  routerLink="/categorie-apropos">A propos</a></li>
                        <li><a  routerLink="/categorie-produit">Produits</a></li>
                        <li><a  routerLink="/categorie-service">Services</a></li>
                        <li><a  routerLink="/categorie-contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="name-right">
                    <ul>
                        <li><a routerLink="/categorie-homme">Hommes</a></li>
                        <li><a routerLink="/categorie-femme">Femmes</a></li>
                        <li><a routerLink="/categorie-enfant">Enfants</a></li>
                        <li><a routerLink="/categorie-produit">Article divers</a></li>
                        <li><a href="#">Sport</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- cote droite de mon footer -->
        <div class="footer-right">
            <div class="title">
                <h3>NOUVEAUX ARRIVAGES REDUCTIONS CONTACTEZ-NOUS</h3>
            </div>
            <form class="formulaire">
                <label for="mail">Inscrivez-vous pour recevoir des offres spéciales et des mises à jour</label>
                <br>
                <input type="email" placeholder="Entrez votre adresse email" required>
                <a routerLink="/categorie-inscription">INSCRIVEZ-VOUS</a>
            </form>
            <div class="condition">
                <p>© Copyright  tous droits / Conditions d'utilisation / Confidentialité / droits d'auteur / <a href="#">Connexion</a></p>
            </div>
        </div>

    </div>
</footer>