/* ========================== SECTION DE MON FOND 1 IMAGE DE INFORMATION ============================== */

.section01-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/image/fontimg.JPEG");
    background-size: cover;
    position: relative;
}

.information {
    position: absolute;
    top: 0;
    right: 0;
    margin: 150px 20px;
}

.information h2 {
    font-size: 35px;
    margin: 18px 0;
}

.information span {
    color: #183661;
}

.information h3{
    font-size: 25px;
    margin-bottom: 12px;
}

.information p {
    font-size: 17px;
    margin-bottom: 20px;
}

.information a {
    background: #FFC107;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.information a:hover {
    background: #d19f07;
    transition: .3s;
}


@media screen and (max-width: 991px) {

    .section01-container {
        background-position: center;
    }

    .information {
        margin: 50px;
        text-align: right;
    }
    
    .information h2 {
        font-size: 30px;
        margin: 18px 0;
    }

    .information h3{
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    .information p {
        font-size: 17px;
        margin-bottom: 25px;
    }
    
    .information a {
        background: #FFC107;
        color: #000;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) {

    .section01-container {
        background-position: center;
    }

    .information {
        position: absolute;
        margin: 50px 10px;
        text-align: right;

    }
    
    .information h2 {
        font-size: 25px;
        margin: 18px 0;
    }

    .information h3{
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    .information p {
        font-size: 17px;
        margin-bottom: 25px;
    }
    
    .information a {
        background: #FFC107;
        color: #000;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 500;
    }
}


/* =============================================SLYLE DE MON SLIDER ======================================= */


/* ===================== MON Cﾃ傍E DE MON OFFRES DE VUE ====================== */

.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.choix ul {
    list-style: none;
    display: flex;
}

.choix ul li {
    margin-left: 20px;
}

.choix ul li a {
    text-decoration: none;
    background-color: #183661;
    color: #fff;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
}

/* ===================== MON Cﾃ傍E DE MON BARS POUR EFFECT UN DIFFERENCE ====================== */

.bars-ligne {
    margin-top: 50px;
}

.ligne {
    width: 80%;
    height: 3px;
    background-color: #1836613b;
    margin: 30px 0 0 0 ;
    margin: 0 auto;
}

/* ===================== MON Cﾃ傍E DE MON OFFRES DE VUE ====================== */

/* .mes-ofres {
    margin: 40px;
}

.offes-vue {
    display: flex;
    align-items: center;
    align-items: center;
}

.offes-vue i {
    color: #183661;
}

.offes-vue h3 {
    padding-left: 7px;
    font-size: 30px;
} */

.bars-left {
    width: 4px;
    height: 40px;
    background-color: #183661;
}

.offes-vue {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .choix ul {
        display: block;
        text-align: center;
    }

    .choix ul li {
        margin-top: 25px;
    }
}

.offes-vue h3{
    font-size: 25px;
    padding: 20px;
}

.mes-ofres {
    display: flex;
    justify-content: center;
    margin: 20px;
}




/* ===================== MON Cﾃ傍E D'IMAGE DE SLIDER' ====================== */

.container-wrapper{
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
}

.wrapper{
    width: 280px;
    height: 340px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.promo-signe {
    position: absolute;
    top: 8px;
    left: 5px;
    background-color: #FFC107;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    flex-wrap: wrap;
}

.image-wrapper img {
    width: 200px;
}

.non-etoile i{
    color: #183661;
}

.non-etoile i:hover {
    color: #FFC107;
    transition: all .3s;
}

.nom-wrapper .left {
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.nom-wrapper .right {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.nom-wrapper .right i {
    background-color: #FFC107;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.non-para p {
    font-weight: bold;
}

.non-prix p {
    font-weight: bold;
}

.non-prix span {
    color: #183661;
    font-size: 18px;
}

.nom-wrapper .right i:hover{
    transition: all .3s;
    color: #183661;
}











/* ======================= Slieder STYLE  22222 =================================== */

/* ========= NEW ARRIVAGE ======= */

.bars-left {
    width: 4px;
    height: 40px;
    background-color: #183661;
}

.offes-vue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offes-vue h3{
    font-size: 25px;
    padding: 20px;
}

.mes-ofres {
    display: flex;
    justify-content: center;
    margin: 20px;
}





.container-wrapper2{
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.wrapper2{
    width: 200px;
    height: 240px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.promo-signe2 {
    position: absolute;
    top: 8px;
    left: 5px;
    background-color: #FFC107;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.image-wrapper2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.image-wrapper2 img {
    width: 150px;
}

.non-etoile2 i{
    color: #183661;
    font-size: 12px;
}

.non-etoile2 i:hover {
    color: #FFC107;
    transition: all .3s;
}

.nom-wrapper2 .left {
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.nom-wrapper2 .right {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.nom-wrapper2 .right i {
    background-color: #FFC107;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.non-para2 p {
    font-weight: bold;
    font-size: 13px;
}

.non-prix2 p {
    font-weight: bold;
    font-size: 13px;
}

.non-prix2 span {
    color: #183661;
    font-size: 14px;
}

.nom-wrapper2 .right i:hover{
    transition: all .3s;
    color: #183661;
}

.next-page {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 50px;
}